@import 'master/color.css';
@import 'master/font.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
}

a:is(.btn) .icon {
  display: flex;
  align-items: center;
}

.btn {
  transition: 0.3s;
}

a:is(.btn) {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 16px 32px;
  border-radius: 32px;
}

.btn.primary {
  background: var(--white-950);
  color: var(--white-50);
}

.btn:hover {
  background: var(--red-600);
  transform: translateY(-8px);
}

h1 {
  font-size: 5rem;
  line-height: 5.25rem;
}

p {
  font-size: 1.75rem;
}

h3 {
  text-align: right;
  font-size: 2rem;
  font-weight: 700;
}