.projects {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
}

.projects .list {
  max-width: 325px;
  padding: 32px 24px;
  border-radius: 8px;
  transition: 1s;
  box-shadow: none;
}

.projects .list:hover {
  box-shadow: var(--boxShadow-secondary);
}

.projects .imageBx {
  position: relative;
}

.projects .imageBx .btn {
  position: absolute;
  bottom: -24px;
  right: 16px;
  padding: 16px;
}

.projects .imageBx .btn .label {
  display: none;
  opacity: 0;
  transition: opacity 0.5s linear;
  overflow: hidden;
}

.projects .imageBx .btn:hover .label {
  opacity: 1;
  display: inline-flex;
}

.projects .detailBx {
  margin: 16px 0;
}

.projects .detailBx .title {
  font-weight: 800;
  margin: 8px 0;
}

.projects .imageBx ion-icon {
  font-size: 24px;
  transform: rotate(-45deg);
}

.projects .actionBx {
  display: flex;
}

.projects .actionBx .list:hover {
  box-shadow: none;
}

.projects .actionBx ion-icon {
  color: var(--white-950);
}

.projects .detailBx .subtitle {
  position: relative;
  display: flex;
  align-items: center;
}

.projects .detailBx .subtitle {
  width: 90px;
}

.projects .detailBx .subtitle::before {
  content: "";
  display: inline-block;
  margin-right: 8px;
  width: 0;
  height: 2px;
  background: var(--white-950);
  animation: expandWidth 2s forwards;
}

.projects .detailBx .text {
  font-size: 1rem;
  margin: 8px 0 16px;
}

.projects img {
  max-width: 100%;
  border-radius: 4px;
}

@keyframes expandWidth {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}